{{define "content"}}
	<h1>{{.Header}}</h1>
	<aside>
		<form action="" method="get">
			<div>
				<label for="searchString">{{$.LayoutLocales.SearchPlaceholder}}</label>
				<input type="text" name="searchString" value="{{.SearchString}}" >
			</div>
			<input class="material-icons" type="submit" value="search">
		</form>
	</aside>
	<ul>
		{{range .Blogposts}}
			<li>
				<span>{{.Title}}</span>
				<time datetime="{{.DateISO}}">{{.DateDescription}}</time>
				<a href="{{.Link}}">{{$.LayoutLocales.ReadAction}}</a>
			</li>
		{{end}}
	</ul>
{{end}}

