:root {
	--primary-color: #78FFCE;
	--secondary-color: #C1F0FF;
	--font-color: #000000;
	--box-background: #f0f0f0;
	--gradient: linear-gradient(to right, var(--primary-color), var(--secondary-color));

	--max-width: 1000px;
	--screen-edge-spacing: 2rem;
	--divider-size: 2px;
}
@media (max-width: 600px) {
	:root {
		--screen-edge-spacing: 1rem;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

p, li, div, span {
	font-family: "DM Sans", sans-serif;
}

h1, h2, h3 {
	font-family: "Barlow Condensed", sans-serif;
	color: var(--font);
	margin: 0;
	margin-block-start: 1em;
	text-transform: uppercase;
	font-weight: 400;
}

h1 {
	font-size: 3.5rem;
}
@media (max-width: 600px) {
	h1 {
		font-size: 2.5rem;
	}
}

h2 {
	font-size: 2.2rem;
	position: relative;
}
@media (max-width: 600px) {
	h2 {
		font-size: 2.0rem;
	}
}

h2::before {
	content: "";
	width: 100%;
	height: var(--divider-size);
	position: absolute;
	top: -var(--divider-size);
	left: 0;
	background-image: var(--gradient);
}

h3 {
	font-size: 1.5rem;
}

p {
	margin: 0;
	margin-block-start: 1em;
	color: var(--font);
}

hr {
	border-image-source: var(--gradient);
	border-image-slice: 1;
}

a {
	font-family: "DM Sans", sans-serif;
	color: var(--font);
	text-decoration: none;
    outline: none;
}

p > a,
li > a {
    display: inline-block;
	font-size: 1rem;
    position: relative;
    z-index: 1;
    transition: transform ease-in 0.1s;
	height: min-content;
	width: max-content;
}

p > a:active,
li > a:active {
    transform: scale(1.02);
}

p > a::before,
li > a::before {
    content: "";
    width: 100%;
    height: var(--divider-size);
    position: absolute;
    bottom: var(--divider-size);
    left: 0;
    background-image: var(--gradient);
    z-index: -1;
}

li > a::after,
p > a::after {
    --overlap: 0.2em;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--primary-color);
    opacity: 0;
    z-index: -1;
    transition: opacity ease-in 0.2s;
    padding: var(--overlap);
    border-radius: var(--overlap);
    top: calc(-1 * var(--overlap));
    left: calc(-1 * var(--overlap));
}

li > a:hover::after,
p > a:hover::after,
li > a:focus::after,
p > a:focus::after {
    opacity: 0.3;
}

header {
	display: flex;
	justify-content: center;
}

nav {
	margin: var(--screen-edge-spacing);
	padding: 1rem;
	border-radius: 0.25rem;
	background-image: var(--gradient);
	display: flex;
	justify-content: flex-end;
	max-width: var(--max-width);
	width: 100%;
}
@media (max-width: 600px) {
	nav {
		margin-inline: 0;
		border-radius: 0;
	}
}

nav > a {
	font-size: 1.2rem;
	margin-inline-start: 3rem;
	font-family: "Barlow Condensed", sans-serif;
	text-transform: uppercase;
}
@media (max-width: 600px) {
	nav > a {
		font-size: 1rem;
		margin-inline-start: 1rem;
	}
}

nav > a:first-of-type {
	margin-inline: 0 auto;
}

body > main, body > footer {
	width: min(var(--max-width), calc(100vw - calc(2* var(--screen-edge-spacing))));
	margin-inline: auto;
}

body > a.material-icons {
	width: 24px;
	display: block;
	margin-inline: auto;
	position: sticky;
	bottom: var(--screen-edge-spacing);
	margin-block-start: 2em;
	background-image: var(--gradient);
	padding: 0.5em;
	border-radius: 24px;
}

body > footer {
	margin-block-start: calc(10* var(--screen-edge-spacing));
	border-image-source: var(--gradient);
	border-image-slice: 1;
	border-top-width: var(--divider-size);
	border-top-style: solid;
	padding-block-start: 1rem;
	padding-block-end: var(--screen-edge-spacing);
	padding-inline: clamp(1em, 10vw, 100px);
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

body > footer > section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

body > footer > section + section > a:first-child {
	display: flex;
}
body > footer > section + section > a:first-child::after {
	content: "language";
	font-family: 'Material Icons';
	line-height: 1;
	align-self: center;
	margin-inline-start: 0.2rem;
}

body > footer > section > a {
	margin-block-end: 0.5em;
}
