{{define "style"}}

<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/atom-one-light.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/go.min.js"></script>
<script>hljs.highlightAll();</script>

<style>
.table-of-contents {
	position: fixed;
	width: 20vw;
	right: var(--screen-edge-spacing);
	border-image-source: var(--gradient);
	border-left-width: var(--divider-size);
	border-left-style: solid;
	border-image-slice: 1;
	padding-inline-start: 1rem;
	font-size: 0.8rem;
}
@media (max-width: 1850px) {
	.table-of-contents {
		display: none;
	}
}
.table-of-contents::before {
	content: "{{.LayoutLocales.TocSubheader}}";
	font-family: "DM Sans", sans-serif;
	font-weight: bold;
}
.table-of-contents li {
	list-style: none;
}
.table-of-contents li a {
	width: unset;
}
.table-of-contents li a::before {
	content: unset;
}
.table-of-contents li .level-2 {
	margin-inline-start: 2rem;
}
.table-of-contents li .level-3 {
	margin-inline-start: 4rem;
}

code {
	font-family: 'JetBrains Mono', monospace;
	font-size: 0.9em;
}

p > code {
	display: inline-block;
	background: var(--box-background);
	padding: 0.2em;
	border-radius: 0.2em;
}

pre > code {
	display: block;
	padding: 0.4em;
}

pre {
	border-image-source: var(--gradient);
	border-width: var(--divider-size);
	border-image-slice: 1;
	border-style: solid;
	overflow-x: auto;
	overflow-y: hidden;
}

img {
	max-width: 100%;
}

sup.footnote-ref > a {
	font-size: 0.7rem;
}

.footnotes {
	position: relative;
	min-height: 10em;
}
.footnotes::before {
	content: "{{.LayoutLocales.FootnotesSubheader}}";
	position: absolute;
	transform: rotate(-90deg);
	opacity: 0.5;
	transform-origin: 100% 0;
	top: 1em;
	right: calc(100% + 1em);
	letter-spacing: 0.5em;
}
.footnotes ol {
	overflow: hidden;
}
</style>

{{end}}
