{{define "content"}}
	<h1>{{.Header}}</h1>
	{{range .Sections}}
		<section>
		<h2>{{.Title}}</h2>
		<ul>
			{{range .Topics}}
			<li>
				<div class="material-icons">{{.MaterialIcon}}</div>
				<p>{{.Description}}</p>
				<a href="{{.Link}}">{{$.LayoutLocales.ShowAction}}</a>
			</li>
			{{end}}
		</ul>
		</section>
	{{end}}
{{end}}
