<!DOCTYPE html>
<html lang="{{.LayoutLocales.LanguageCode}}">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			rel="preload"
			href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&display=swap"
			as="font"
			crossorigin
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&display=swap"
		/>
		<link
			rel="preload"
			href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap"
			as="font"
			crossorigin
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap"
		/>
		<link
			rel="preload"
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			as="font"
			crossorigin
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
		/>
		<link rel="icon" type="image/png" href="/static/favicon.png" />
		<link rel="preload" href="/static/global.css" as="style" />
		<link
			rel="stylesheet"
			href="/static/global.css"
		/>
		{{template "style" .}}

		<title>{{if .Title}}{{.Title}}{{else}}Johannes Gerold{{end}}</title>
		{{template "meta" .}}
	</head>

	<body>
		<header>
			<nav>
				{{range .LayoutLocales.TopNavbar}}
					<a href="{{.Link}}">{{.Title}}</a>
				{{end}}
			</nav>
		</header>
		<main>
			{{template "content" .}}
		</main>
		<a class="material-icons" href="#">arrow_upwards</a>
		<footer>
			<section>
				<a href="https://github.com/jgero" referrerpolicy="no_referrer" target="_blank">GitHub</a>
				<a href="https://gitlab.com/jgero" referrerpolicy="no_referrer" target="_blank">GitLab</a>
			</section>
			<section>
				{{range .LayoutLocales.Footer}}
					<a href="{{.Link}}">{{.Title}}</a>
				{{end}}
			</section>
		</footer>
	</body>

</html>

<!-- empty defines here for optional templates -->
{{define "style"}}{{end}}
{{define "meta"}}{{end}}
